<div class="card">
  <div class="card-content">
    <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">
      <div class="row">
        <input
          type="hidden"
          name="_id"
          #_id="ngModel"
          [(ngModel)]="employeeService.selectedEmployee._id"
        />
        <div class="input-field col-s12">
          <input
            type="text"
            name="name"
            #name="ngModel"
            [(ngModel)]="employeeService.selectedEmployee.name"
            placeholder="Enter your Name"
          />
        </div>
        <div class="input-field col-s12">
          <input
            type="text"
            name="lastName"
            #lastName="ngModel"
            [(ngModel)]="employeeService.selectedEmployee.lastName"
            placeholder="Enter your Last Name"
          />
        </div>
        <div class="input-field col-s12">
          <input
            type="text"
            name="position"
            #name="ngModel"
            [(ngModel)]="employeeService.selectedEmployee.position"
            placeholder="Enter your Position"
          />
        </div>
        <div class="input-field col-s12">
          <input
            type="text"
            name="office"
            #name="ngModel"
            [(ngModel)]="employeeService.selectedEmployee.office"
            placeholder="Enter your Office"
          />
        </div>
        <div class="input-field col-s12">
          <input
            type="text"
            name="salary"
            #name="ngModel"
            [(ngModel)]="employeeService.selectedEmployee.salary"
            value="0"
            placeholder="Enter your Salary"
          />
        </div>
        <div class="card-action">
          <div class="input-field col-s12">
            <button
              class="btn right"
              style="margin-left: 2px;"
              (click)="resetForm(employeeForm)"
            >
              Clean
            </button>
            <button class="btn right">Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
