<div class="navbar-fixed ">
  <nav class=" blue-grey darken-4">
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo">MEAN</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a routerLink="/employees" class="nav-link" routerLinkActive="active"
            >Employees</a
          >
        </li>
        <li>
          <a
            routerLink="/create-employee"
            class="nav-link"
            routerLinkActive="active"
            >Create Employee</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
